{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
<h1 class="text-2xl font-bold mb-8">Portfolio de DW 9</h1>

<p>Bonjour et bienvenue sur mon site. Prenez votre aise et baladez-vous dans mes projets, vous allez apprécier.</p>
{% endblock %}